#searchTerm {
    display: inline-block;
    width: 88%;
    min-width: 298px;
}

#searchSubmit {
    width: 10%;
    min-width: 80px;
}

#searchForm {
    display: table;
    margin: 0 auto;
    width: 80%;
}

#logo-homepage {
    text-align: center;
}

#magnifier-homepage {
    margin-top: -10px;
}

#info-section-homepage {
    text-align: center;
}
