#searchTerm {
    display: inline-block;
    width: 88%;
    min-width: 298px;
}

#searchSubmit {
    width: 10%;
    min-width: 80px;
}

#searchForm {
    display: table;
    margin: 0 auto;
    width: 80%;
}

#logo-homepage {
    text-align: center;
}

#magnifier-homepage {
    margin-top: -10px;
}

#info-section-homepage {
    text-align: center;
}

#footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    border-top: solid 1px #e5e5e5;
    background-color: #fdfdfd;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
}

#search-help-dialog {
    background-color: white; 
    top: 20%;
    overflow-y: hidden;
    border: none;
    height: auto;
    bottom: auto;
}

#search-help-dialog-close-btn {
    margin-bottom: 20px;
    padding: 5px;
    width: 95px;
}

#search-help-dialog-body {
    padding: 30px;
}

#search-help-dialog-footer {
    text-align: center;
}