.subs-list {
    padding: 0;
}

.subs-list > li {
    list-style-type: none;
    padding: 10px;
}

.subs-list > li:nth-of-type(even) {
    background-color: #f5f5f5;
}

.subs-list h3 a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.subs-list h3 {
    margin: 0;
}

.subs-list a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.subs-list p {
    margin: 0;
    padding: 0;
}

.subs-list > li > div > div {
    margin-top: 7px;
    margin-bottom: 7px;
}

.sub-description {
}

.sub-extrainfo ul > li > span:nth-child(1) {
    margin-right: 5px;
}

.sub-extrainfo ul {
    list-style-type: none;
    font-size: .9em;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
    padding: 0;
}

.sub-extrainfo ul li {
    display: inline;
    margin-right: 10px;
}

.header-search-box {
    float: right;
    margin-top: 25px;
}

.header-search-box form {
    display: table;
}

.header-search-box input {
    display: table-cell;
}

.header-search-box #searchTermSearchBox {
    width: 400px;
}

.header-search-box #searchSubmitSearchBox {
    margin-left: 3px;
    width: 82px;
}

.header-site {
    margin-top: 20px;
}

.header-site-title {
    float: left;
}

.header-site-title.h1 {
    margin: 0;
}

.header-site-title img:first-child {
    margin-top: -19px;
}

.header-site-title > a:hover {
    text-decoration: none;
}

p.sub-text {
    margin: 20px 0;    
}
