.subs-list {
    padding: 0;
}

.subs-list > li {
    list-style-type: none;
    padding: 10px 20px 10px 10px;
}

.subs-list > li:nth-of-type(even) {
    background-color: #f5f5f5;
}

.subs-list > li:nth-of-type(even) button.btn-show-all-comments{
    background-color: #f5f5f5;
}

.subs-list > li:nth-of-type(even) button.btn-show-all-comments:hover {
    background-color: #fdfdfd;
}

.subs-list h3 {
    margin: 0 0 10px 0;
}

.subs-list p {
    margin: 0;
    padding: 0;
}

.sub-section-left-column {
    margin-top: 7px;
    margin-bottom: 7px;
    display: table-cell; 
    font-size: 30px; 
    color:#ff7518;
}

.sub-section-right-column {
    display: table-cell;
    width: 100%;
}

.sub-section {
    display: table;
    padding-top: 5px;
}

.sub-description {
}

.sub-comments {
    margin-top: 10px;
}

.sub-comments-title {
    margin-bottom: 5px;
}

.sub-comments p span.single-comment-text {
    margin: 0 5px 0 5px;
    font-size: 13px;
}

.sub-comments p:nth-child(even) {
    text-align: right;
}

.hidden-comment {
    display: none;    
}

.sub-show-all-separator {
    text-align: center;
    height: 12px;    
}

.btn-show-all-comments {
    position: relative; 
    width: 117px; 
    top: -35px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px transparent;
    background-color: #fdfdfd;
}

.btn-show-all-comments:hover {
    background-color: #f0f0f0;
    border: solid 1px #c6c6c6;
}

.right-arrow, .left-arrow {
    font-size: 10px;    
}

.sub-comments p:nth-child(odd) span.right-arrow {
    display: none;
}

.sub-comments p:nth-child(even) span.left-arrow {
    display: none;
}

.sub-extrainfo ul > li > span:nth-child(1) {
    margin-right: 5px;
}

.sub-extrainfo ul {
    list-style-type: none;
    font-size: .9em;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
    padding: 0;
}

.sub-extrainfo ul li {
    display: inline;
    margin-right: 10px;
}

.sub-download-button {
    display: block; 
    margin-right: 13px; 
    top: 10px; 
    position:relative;
    color: #ff7518;
}

    a.sub-download-button:hover {
        text-decoration: none;
        color: #ff7518;
    }

.header-search-box {
    float: right;
    margin-top: 25px;
}

.header-search-box form {
    display: table;
}

.header-search-box input {
    display: table-cell;
}

.header-search-box #searchTermSearchBox {
    width: 400px;
}

.header-search-box #searchSubmitSearchBox {
    margin-left: 3px;
    width: 82px;
}

.header-site {
    margin-top: 20px;
}

.header-site-title {
    float: left;
}

.header-site-title.h1 {
    margin: 0;
}

.header-site-title img:first-child {
    margin-top: -19px;
}

.header-site-title > a:hover {
    text-decoration: none;
}

p.sub-text {
    margin: 20px 0;    
}

#magnifier-search-page {
    margin-top: -10px;
}
