/*.button-style {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: auto;
    text-decoration: none;
}
    
a.button-style:hover {
    text-decoration: none;
    background-color: #d3dce0;
}
*/

/*p {
    margin: 0;
}*/

.site-title {
    font-family: "League Gothic", "Open Sans", Calibri, Candara, Arial, sans-serif;
    text-align: center;
    color: rgb(254, 102, 0);
    margin-bottom: 27px;
    font-size: 50px;
    font-weight: normal;
}

body {
    background-color: #fdfdfd;
}

.search-control {
    font-size: 18px;
    padding-left: 9px;
}

.search-control:focus {
    border-color: rgb(254, 102, 0);
    border-color: rgba(254, 102, 0, 0.8);
    -webkit-box-shadow: inset 0 1px 1px #000000,0 0 8px #fe6600;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(254, 102, 0, 0.6);
    box-shadow: inset 0 1px 1px #000000,0 0 8px #fe6600;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(254, 102, 0, 0.6);
}

.clearfloat {
    clear: both;
}

a.seamless-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.seamless-link:hover {
    background-color: transparent;
    text-decoration: underline;
}

body > div.container {
    width: 1000px;
}