.site-title {
    font-family: "League Gothic", "Open Sans", Calibri, Candara, Arial, sans-serif;
    text-align: center;
    color: rgb(254, 102, 0);
    margin-bottom: 27px;
    font-size: 50px;
    font-weight: normal;
}

body {
    background-color: #fdfdfd;
}

.search-control {
    font-size: 18px;
    padding-left: 9px;
}

.search-control:focus {
    border-color: rgb(254, 102, 0);
    border-color: rgba(254, 102, 0, 0.8);
    -webkit-box-shadow: inset 0 1px 1px #000000,0 0 8px #fe6600;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(254, 102, 0, 0.6);
    box-shadow: inset 0 1px 1px #000000,0 0 8px #fe6600;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(254, 102, 0, 0.6);
}

.clearfloat {
    clear: both;
}

a.seamless-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.seamless-link:hover {
    background-color: transparent;
    text-decoration: underline;
}

body > div.container {
    width: 900px;
    padding-bottom: 50px;
}

#beta-ribbon {
    position: fixed;
    top: 0;
    left: 0;
}

input[type=radio] {
    display:none; 
}

    input[type=radio] + label {
        cursor: pointer;
        display: inline-table;
        vertical-align: bottom;
        border-color: #ddd;
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        height: 30px;
        margin-right: -1px;
        border: 1px solid #ddd;
    }

        input[type=radio] + label > span.radio-text {
            padding: 3px;
            vertical-align: middle;
            display: table-cell;
            width: 100%;
        }

input[type=radio]:checked + label { 
    background-color: #e7e7e7;
    color: black;
}

p.sub-text {
    margin: 20px 0;
    text-align: center;
}

a:focus {
    outline: none;
}

.sharing-bar {
    position: fixed;
    left: 5px;
    top: 200px;
}

.sharing-bar img:hover {
    opacity: .75;
}

.sharing-bar div {
    margin-bottom: 5px;
}
