@{
    ViewBag.Title = "Búsqueda";
}

<div id="logo-homepage"><img src="/Images/logo.png" alt="logo"/></div>
<h1 class="site-title">SubSearch<img id="magnifier-homepage" src="/Images/magnifier.png" alt="magnifier"/></h1>

<div id="searchForm">
    @using (Html.BeginForm("SearchSub", "Home", FormMethod.Get))
    {
        <input id="searchTerm" class="form-control search-control" name="searchTerm" type="text" />
        <input id="searchSubmit" class="btn btn-warning" type="submit" value="Buscar" />  
    }
</div>

<div id="info-section-homepage">
    <p class="sub-text">Búsqueda extendida sobre descripción y comentarios de subtítulos en <a href="http://subdivx.com/">Subdivx.com</a></p>
    <a href="#search-help-dialog" data-toggle="modal" id="show-search-help-dialog" class="sub-text">¿Cómo buscar?</a>
</div>

@Html.Partial("_SearchHelp")

@section footer {
    <div id="footer">© JR / <img src="/Images/twitter.png" /> @@FLXCAP</div>
}

@section scripts {
    <script type="text/javascript">

        //$('#show-search-help-dialog').click(function() {
        //    $('#search-help-dialog').dialog({
        //        buttons: [
        //          {
        //              modal: true,
        //              text: "OK",
        //              click: function () {
        //                  $(this).dialog("close");
        //              }
        //          }
        //        ]
        //    });
        //});
        
        $(document).ready(function () {

            $(window).resize(function () {

                $('.container').css({
                    position: 'absolute',
                    left: ($(window).width() - $('.container').outerWidth()) / 2,
                    top: ($(window).height() - $('.container').outerHeight()) / 2
                });

            });

            // To initially run the function:
            $(window).resize();
        });
    </script>
}