@{
    ViewBag.Title = "Búsqueda";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
@*                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
                Búsqueda extendida (descripción y comentarios) de subtítulos en SubDivX<br/><br/>
                Ejemplos:<br/>
                Inception.2010.RERiP.DVDRiP.XviD-ARROW<br/>
                Donnie.Darko.2001.LIMITED.DVDRip.DivX-ViTE
            </p>
        </div>
    </section>
}

@using (Html.BeginForm("SearchSub", "Home", FormMethod.Get))
{
    <input id="searchTerm" name="searchTerm" type="text" />
    <input type="submit" value="Buscar" />  
}