<div id="search-help-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div id="search-help-dialog-body">
        <p>Diferentes opciones para buscar películas:</p>
        <ul>
            <li>Sólo con el nombre <i>(ej. <b>Back to the future</b>)</i></li>
            <li>Con nombre y año <i>(ej. <b>Back to the future 1985</b>)</i></li>
            <li>Con nombre, año y grupo que ripea <i>(ej. <b>Back to the future 1985 AXXO</b>)</i></li>
            <li>Directamente con el título del torrent <i>(ej. <b>Back to the Future (1985)</b> 1080p BrRip x264 -<b> YIFY</b> ó <b>Back.To.The.Future.1985</b>.x264.DTS.2AUDIO-<b>WAF</b>)</i></li>
        </ul>
        <p>NOTA: para que los valores de búsqueda sean detectados correctamente, asegurarse que el título del torrent comienza con el nombre de la película, sigue con el año de la misma y al final se encuentra el grupo que ripea.</p>

        <p>Opciones para buscar episodios de series de TV:</p>
        <ul>
            <li>Indicar el nombre de la serie seguido de la temporada y el episodio. Para indicar la temporada y episodio hay tres formatos. <i>(ej. <b>Dexter S01E03</b>, <b>Dexter 1x03</b> ó <b>Dexter 103</b>)</i></li>
            <li>Al final se puede indicar el grupo que ripea como también utilizar el título completo del torrent <i>(ej. <b>Dexter S01E03 NoTV</b> ó <b>Dexter S01E03</b> Popping Cherry DVDRip XviD <b>SAiNTS</b>)</i></li>
        </ul>

        <p>Cabe destacar que la búsqueda también se realiza en los comentarios del subtítulo, de esta forma se incrementa la posibilidad de encontrar subs que son compatibles con el grupo de ripeo especificado.</p>
    </div>
    <div id="search-help-dialog-footer">
        <button id="search-help-dialog-close-btn" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div>
